ENCRYPTION_ALGORITHM=
ENCRYPTION_IV_LENGTH=

# Role table
ROLE_LABEL_ENCRYPTION_KEY=
ROLE_LABEL_ENCRYPTION_IV=

# Users table
USER_LASTNAME_ENCRYPTION_KEY=
USER_LASTNAME_ENCRYPTION_IV=
USER_FIRSTNAME_ENCRYPTION_KEY=
USER_FIRSTNAME_ENCRYPTION_IV=
USER_USERNAME_ENCRYPTION_KEY=
USER_USERNAME_ENCRYPTION_IV=
USER_DESCRIPTION_ENCRYPTION_KEY=
USER_DESCRIPTION_ENCRYPTION_IV=
USER_EMAIL_ENCRYPTION_KEY=
USER_EMAIL_ENCRYPTION_IV=
USER_PASSWORD_ENCRYPTION_KEY=
USER_PASSWORD_ENCRYPTION_IV=
USER_IMAGE_ENCRYPTION_KEY=
USER_IMAGE_ENCRYPTION_IV=
USER_CITY_ENCRYPTION_KEY=
USER_CITY_ENCRYPTION_IV=
USER_ZIP_ENCRYPTION_KEY=
USER_ZIP_ENCRYPTION_IV=
