ENCRYPTION_ALGORITHM=
ENCRYPTION_IV_LENGTH=

# Role table
ROLE_LABEL_ENCRYPTION_KEY=
ROLE_LABEL_ENCRYPTION_IV=

# Users table
USER_LASTNAME_ENCRYPTION_KEY=
USER_LASTNAME_ENCRYPTION_IV=
USER_FIRSTNAME_ENCRYPTION_KEY=
USER_FIRSTNAME_ENCRYPTION_IV=
USER_USERNAME_ENCRYPTION_KEY=
USER_USERNAME_ENCRYPTION_IV=
USER_DESCRIPTION_ENCRYPTION_KEY=
USER_DESCRIPTION_ENCRYPTION_IV=
USER_SHORT_DESCRIPTION_ENCRYPTION_KEY=
USER_SHORT_DESCRIPTION_ENCRYPTION_IV=
USER_EMAIL_ENCRYPTION_KEY=
USER_EMAIL_ENCRYPTION_IV=
USER_PASSWORD_ENCRYPTION_KEY=
USER_PASSWORD_ENCRYPTION_IV=
USER_IMAGE_ENCRYPTION_KEY=
USER_IMAGE_ENCRYPTION_IV=
USER_CITY_ENCRYPTION_KEY=
USER_CITY_ENCRYPTION_IV=
USER_COLOR_ENCRYPTION_KEY=
USER_COLOR_ENCRYPTION_IV=

# Professions table
PROFESSION_NAME_ENCRYPTION_KEY=
PROFESSION_NAME_ENCRYPTION_IV=

# Genres table
GENRE_NAME_ENCRYPTION_KEY=
GENRE_NAME_ENCRYPTION_IV=

# Skills table
SKILL_NAME_ENCRYPTION_KEY=
SKILL_NAME_ENCRYPTION_IV=

# Inspirations table
INSPIRATION_NAME_ENCRYPTION_KEY=
INSPIRATION_NAME_ENCRYPTION_IV=

# Portfolios table
PORTFOLIO_TITLE_ENCRYPTION_KEY=
PORTFOLIO_TITLE_ENCRYPTION_IV=
PORTFOLIO_DESCRIPTION_ENCRYPTION_KEY=
PORTFOLIO_DESCRIPTION_ENCRYPTION_IV=
PORTFOLIO_TYPE_ENCRYPTION_KEY=
PORTFOLIO_TYPE_ENCRYPTION_IV=
PORTFOLIO_PATH_ENCRYPTION_KEY=
PORTFOLIO_PATH_ENCRYPTION_IV=

# Relations States table
RELATION_STATE_LABEL_ENCRYPTION_KEY=
RELATION_STATE_LABEL_ENCRYPTION_IV=

# Messages table
MESSAGE_MESSAGE_ENCRYPTION_KEY=
MESSAGE_MESSAGE_ENCRYPTION_IV=
